@{
    ViewData["Title"] = "Home Page";
}
@using ViewModels
@model ClientViewModel

<div class="container">
    <div class="row">
        <h1>Data import / export for clients</h1>
        <p>
            The application provides the ability to create and configure client profiles, each having their own set of contact details.
        </p>
        <p>
            The contact details are obtained by an api call which returns a random set of test contacts.
        </p>
        <p>
            With the newly populated test contacts the appliction would provide a feature to export data to CSV or Json format, should the user not wish to use the api for data contact population they may supply upload their own csv or json file and associate a client to it.
        </p>
    </div>
    <div class="row">
        <h2>Setp 1: Configure Clients</h2>        
        <form asp-controller="Home" asp-action="AddClient">
            <div class="row">
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" class="form-control" asp-for="CreateClient.Name">
                </div>
                <input type="submit" value="Add" class="btn btn-primary" />
            </div>
        </form>

        
        <div class="row">
            <div class="col-sm-3">
                <h5>Name</h5>
            </div>
        </div>
            @foreach (var item in Model.ClientsList)
            {
                <div class="row">
                    <div class="col-sm-3">
                        <p>@item.Name</p>
                    </div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-3">
                        <form asp-controller="Home" asp-action="DeleteClient">
                            <input type="hidden" value="@item.Id" />
                            <input type="submit" class="btn btn-danger" value="Delete" />
                        </form>
                    </div>
                </div>
            }
    </div>

    @*<div class="row">
        <h2>Setp 2: User Setup</h2>
    </div>

    <div class="row">
        <h2>Setp 3: Exporting User Data</h2>
    </div>

    <div class="row">
        <h2>Setp 4: Importing / Validation of Data</h2>
    </div>*@
</div>

<style>

</style>