
@{
    ViewData["Title"] = "View";
}

<h1>Well, Heloooo! <span style="color:lightskyblue">:)</span></h1>
<h3>You are seeing this as the project is still in development phase</h3>
<p>You are more than welcome to paly around with the following endpoints:</p>
<ul>
    <li>Clients</li>
    <li>Contacts</li>
    <li>Files</li>
</ul>
<p> see readme.md for setup details</p>
